# Time Series

In [1]:
from datetime import datetime
now = datetime.now()
print(now)
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)
print(now.microsecond)

2022-12-05 14:37:03.027405
2022
12
5
14
37
3
27405

### convert  string to datetime using datetime.strptime(string , its format)

In [ ]:
## %H  Hour (24-hour clock)
## %I Hour (12-hour clock) 
## %b Month  abbreviated name
## %f Microsecond 
## %z UTC offset in the form Â±HHMM

In [62]:
d = "14 2003 Mar 10:27:05"  
print(datetime.strptime(d,'%d %Y %b %H:%M:%S'))

2003-03-14 10:27:05

In [2]:
d = "02-01-2003 10:27:05.1234"  
print(datetime.strptime(d,'%d-%m-%Y %H:%M:%S.%f'))## here both H or I works

2003-01-02 10:27:05.123400

In [5]:
d = "02-04-2003 10:27:05 PM"     ## it remains in string type . we need to convert it into datetime format
type(d)
datetime.strptime(d,'%d-%m-%Y %I:%M:%S  %p') ## pass string and its format  (note in this case write I instead of H)

datetime.datetime(2003, 4, 2, 22, 27, 5)

In [7]:
date1 = datetime(2010,8,8,2,57,59,123)           
date1.second
## only accept in format year,month,day,hour,min,sec,microsecond
## require minimum 3 arguments 
## seconds and minutes must be in range 0 to 59
## if not given optional arguments it assumes them to be 0

59

In [37]:
date2 = datetime(2010,8,8)
date2.hour

0

### Convert string to date using dateutil.parser.parse(string)          (no need to tell format of passed string)

In [99]:
from dateutil.parser import parse
d = parse("02-03-2003")
print(d)
print(d.day) ## it takes month first and then day

2003-02-03 00:00:00
3

In [98]:
parse("02/04/2003" , dayfirst = True)

datetime.datetime(2003, 4, 2, 0, 0)

In [96]:
parse("Feb 01 2003 1:40 PM")

datetime.datetime(2003, 2, 1, 13, 40)

In [102]:
parse("Feb 01 2003 2:00 AM")

datetime.datetime(2003, 2, 1, 2, 0)

In [100]:
parse("Aug 07 2010 10:13:45")

datetime.datetime(2010, 8, 7, 10, 13, 45)

### convert datetime to string  using date.strftime(format)

In [79]:
date3 = datetime(2011,1,3)
print(str(date3))
date4= datetime(1999,9,29,2,30,42)
date4.strftime('%d-%m-%Y  %H:%M:%S')  ## %y give only 99

2011-01-03 00:00:00

'29-09-1999  02:30:42'

### creating series with timestamps as indices  using pd.date_range(start,end periods,freq,tz)

In [113]:
import numpy as np
import pandas as pd
dates = pd.date_range("2022-11-12" , periods=10) ## freq is daily by dafault . 
print(dates)
s1 = pd.Series(np.arange(10) , index = dates)
print(s1)
print(s1.index)
print("element: ",s1["2022-11-16"])

DatetimeIndex(['2022-11-12', '2022-11-13', '2022-11-14', '2022-11-15',
               '2022-11-16', '2022-11-17', '2022-11-18', '2022-11-19',
               '2022-11-20', '2022-11-21'],
              dtype='datetime64[ns]', freq='D')
2022-11-12    0
2022-11-13    1
2022-11-14    2
2022-11-15    3
2022-11-16    4
2022-11-17    5
2022-11-18    6
2022-11-19    7
2022-11-20    8
2022-11-21    9
Freq: D, dtype: int32
DatetimeIndex(['2022-11-12', '2022-11-13', '2022-11-14', '2022-11-15',
               '2022-11-16', '2022-11-17', '2022-11-18', '2022-11-19',
               '2022-11-20', '2022-11-21'],
              dtype='datetime64[ns]', freq='D')
element:  4

In [117]:
pd.date_range("2022-11-12" , periods=10 ,freq='M') ## M is month end date

DatetimeIndex(['2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28',
               '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30',
               '2023-07-31', '2023-08-31'],
              dtype='datetime64[ns]', freq='M')

In [10]:
pd.date_range(start ='12-01-2022',periods=10,freq='W-SAT' ) ## every saturday of week

DatetimeIndex(['2022-12-03', '2022-12-10', '2022-12-17', '2022-12-24',
               '2022-12-31', '2023-01-07', '2023-01-14', '2023-01-21',
               '2023-01-28', '2023-02-04'],
              dtype='datetime64[ns]', freq='W-SAT')

In [13]:
pd.date_range(start ='12-01-2022',periods=10,freq='WOM-1SAT' ) ## every first saturday of month

DatetimeIndex(['2022-12-03', '2023-01-07', '2023-02-04', '2023-03-04',
               '2023-04-01', '2023-05-06', '2023-06-03', '2023-07-01',
               '2023-08-05', '2023-09-02'],
              dtype='datetime64[ns]', freq='WOM-1SAT')

In [129]:
pd.date_range(start ='01-02-2018', end ='03-02-2018') ## it also takes month before day

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09',
               '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-13',
               '2018-01-14', '2018-01-15', '2018-01-16', '2018-01-17',
               '2018-01-18', '2018-01-19', '2018-01-20', '2018-01-21',
               '2018-01-22', '2018-01-23', '2018-01-24', '2018-01-25',
               '2018-01-26', '2018-01-27', '2018-01-28', '2018-01-29',
               '2018-01-30', '2018-01-31', '2018-02-01', '2018-02-02',
               '2018-02-03', '2018-02-04', '2018-02-05', '2018-02-06',
               '2018-02-07', '2018-02-08', '2018-02-09', '2018-02-10',
               '2018-02-11', '2018-02-12', '2018-02-13', '2018-02-14',
               '2018-02-15', '2018-02-16', '2018-02-17', '2018-02-18',
               '2018-02-19', '2018-02-20', '2018-02-21', '2018-02-22',
               '2018-02-23', '2018-02-24', '2018-02-25', '2018-02-26',
               '2018-02-27', '2018-02-28', '2018-03-01', '2018-03-02'],
              dtype='datetime64[ns]', freq='D')

In [131]:
pd.date_range(start ='04-20-2003' , periods=5 , freq='3H') ## after 3 hours

DatetimeIndex(['2003-04-20 00:00:00', '2003-04-20 03:00:00',
               '2003-04-20 06:00:00', '2003-04-20 09:00:00',
               '2003-04-20 12:00:00'],
              dtype='datetime64[ns]', freq='3H')

In [9]:
import pandas as pd
pd.date_range(end ='04-20-2003' , periods=5 , freq='1h30min' )

DatetimeIndex(['2003-04-19 18:00:00', '2003-04-19 19:30:00',
               '2003-04-19 21:00:00', '2003-04-19 22:30:00',
               '2003-04-20 00:00:00'],
              dtype='datetime64[ns]', freq='90T')

In [136]:
pd.date_range(start ='11-12-2022' , periods=13 , freq='B') ## only business day excluding holidays and sundays

DatetimeIndex(['2022-11-14', '2022-11-15', '2022-11-16', '2022-11-17',
               '2022-11-18', '2022-11-21', '2022-11-22', '2022-11-23',
               '2022-11-24', '2022-11-25', '2022-11-28', '2022-11-29',
               '2022-11-30', '2022-12-01', '2022-12-02'],
              dtype='datetime64[ns]', freq='B')

In [139]:
pd.date_range(start ='11-12-2022' , periods=5 , freq='5S') ## after every 5 seconds

DatetimeIndex(['2022-11-12 00:00:00', '2022-11-12 00:00:05',
               '2022-11-12 00:00:10', '2022-11-12 00:00:15',
               '2022-11-12 00:00:20'],
              dtype='datetime64[ns]', freq='5S')

In [150]:
i = pd.date_range(start ='1-1-2018',periods =5, tz ='Asia/Tokyo')
pd.DataFrame(i,columns=["schedule date"] )

              schedule date
0 2018-01-01 00:00:00+09:00
1 2018-01-02 00:00:00+09:00
2 2018-01-03 00:00:00+09:00
3 2018-01-04 00:00:00+09:00
4 2018-01-05 00:00:00+09:00

### slicing of time series